.MMM-Zkteco * {
    box-sizing: border-box;
}

.MMM-Zkteco .module-content .worker-container {
    border-top: none;
    border-bottom: solid 1px #222; 
    display: block;
    margin: auto;
}

.MMM-Zkteco .module-content .worker-container .surname {
    color: #F8DD70;
    border-top: none;
    border-bottom: none;
    font-size: 17px;
    display: inline-block;
    width: 130px;
    margin: auto;
    vertical-align: middle;
}

.MMM-Zkteco .module-content .worker-container .punches {
    border-top: none;
    border-bottom: none;
    font-size: 17px;
    display: inline-block;
    margin: auto;
    vertical-align: middle;
}
